<div id="<%= dom_id friend %>">

  <div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= "#{friend.first_name} #{friend.last_name}" %></div>
  <div class="card-body">
    <p class="card-text">
      <strong>Email:</strong> <%= friend.email %>
      <strong>Phone:</strong> <%= friend.phone %><br>
      <strong>Twitter:</strong> <%= friend.twitter %>
    </p>
  </div>
</div>

</div>
